<h1>Contacts</h1>

<% contacts = Contact.all %> 

<!-- the list HTML is required here in-line to make the ruby appear as a list. This comment will show on inspect source-->
<ul>
<% for contact in contacts %>
  <% company = Company.find_by("id" => contact ["company_id"])%>
  <li><%=contact["first_name"] %> <%=contact ["last_name"]%> @ <%=company["name"]%></li> 
  <% end %>
  </ul>

  <!--#  company.inspect allows us to see what's there in the schema. Can also go to scrips > create_data%>
  <!--#  Rails.logger.info companies%>